/* .Template {
  width: 512px;
  color: blue;
  margin-left: auto;
  margin-right: auto;
}

.bar-title {
  color: red;
} */

.Template {
  background: #8d192b;
  position: fixed;
  padding: 0.6rem;
  width: 100%;
  z-index: 1;
}

.logo {
  text-align: left;
  padding-left: 0.5rem;
}

/* .toggle {
  text-align: right;
  float: right;
} */
