.basicintro {
  padding-top: 3.5rem;
}

.container {
  /* position: relative; */
  display: flex;
  /* justify-content: center; */
  /* background-size: cover; */
  /* margin-top: 2rem; */
  /* padding-top: 2rem; */
}

.name {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 6vw;
  /* padding-top: 6vw;
  padding-left: 3vw; */
}

.name span {
  color: white;
}

.name span:nth-child(1) {
  font-weight: bold;
  font-size: 7vw;
  font-family: "nanum-eb";
}

.name span:nth-child(2) {
  font-size: 5vw;
  font-family: "nanum-r";
  padding-top: 0.7rem;
  line-height: 150%;
}

.intro {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-family: "nanum-r";
  font-size: 3.75vw;
}

.photo {
  display: flex;
}

.phototitle {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  text-align: center;
  font-family: "nanum-r";
  font-size: 2.75vw;
}

.writing {
  /* padding-top: 0.5rem; */
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  font-family: "nanum-r";
  font-size: 3.3vw;
  line-height: 200%;
}

.vision {
  /* padding-top: 1.5rem; */
  padding-bottom: 1.5rem;
  text-align: center;
  font-family: "nanum-r";
  font-size: 3.75vw;
}

.writing2 {
  /* padding-top: 0.5rem; */
  padding-bottom: 1.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  font-family: "nanum-r";
  font-size: 3.3vw;
  line-height: 200%;
}
