@font-face {
  font-family: "nanum-r";
  src: url("../fonts/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "nanum-eb";
  src: url("../fonts/NanumGothic-ExtraBold.ttf");
}

@font-face {
  font-family: "nanum-b";
  src: url("../fonts/NanumGothic-Bold.ttf");
}

.Foot {
  background-color: #363a43;
  color: #bfbfbf;
  padding: 0.8rem;
  /* 하단 고정 */
  /* position: relative; */
}

.Logoleft {
  padding: 1rem;
  float: left;
}

.Info {
  float: left;
  font-family: "nanum-r";
  /* position: fixed; */
  font-size: 0.8rem;
}

.Clear {
  clear: both;
}

.Logo {
  padding: 1rem;
  text-align: center;
}

a:link {
  color: #bfbfbf;
  text-decoration: none;
}

a:visited {
  color: #bfbfbf;
  text-decoration: none;
}

a:hover {
  color: white;
  /* #8d192b */
  text-decoration: none;
}
