.upper {
  padding-top: 3.5rem;
}

.intro {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-family: "nanum-r";
  font-size: 3.75vw;
}

.photo {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.quiz {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "nanum-r";
  font-size: 3.75vw;
  line-height: 200%;
}

.button {
  text-align: center;
  padding-bottom: 2rem;
}
